.cadastro-page {
    background: repeating-linear-gradient(to top right, var(--background-gradient-color-light) 10% 35%, var(--background-gradient-color-dark) 35% 40%, var(--background-gradient-color-light) 40% 45%) no-repeat fixed center;
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-main {
    display: grid;
    grid-column: 1fr;
    border-radius: 25px;
    border: 2px solid var(--border-transparent);
    background-color: var(--background-transparent);
    backdrop-filter: blur(10px);
    text-align: center;
}

.cadastro-form hr {
    border: none;
    height: 2px;
    background-color: var(--border-color);
}
