
@reference "../../../global.css";

.cadastro-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro-form #logando {
    font-size: 30px;
    margin-bottom: 10px;
}

.cadastro-form .campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 0px;
}

.cadastro-form input,
.cadastro-form button,
.cadastro-form .button-link {
    @apply w-full max-w-[500px] md:w-4/5 lg:w-7/12 xl:w-[57%];
    border-radius: 10px;
    border: 2px solid var(--border-color);
    padding: 10px;
    margin: 10px;
    flex: 1;
    height: max-content;
    font: inherit;
}

.cadastro-form .button-link {
    box-sizing: border-box;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid var(--border-color);
}

.cadastro-form input {
    margin-bottom: 10px;
}

.cadastro-form .ou {
    @apply w-full max-w-[500px] md:w-4/5 lg:w-8/12 xl:w-[67%];
    margin: 10px 0px 12px 0px;
    display: flex;
    position: relative;
    gap: 10px;
}

.cadastro-form .ou::after,
.cadastro-form .ou::before {
    align-self: center;
    content: '';
    flex: 1;
    background-color: var(--border-color);
    height: 1px;

}

.cadastro-form .ou::after {
    left: 0;
}

.cadastro-form .ou::before {
    right: 0;
}

.cadastro-form .txtgoogle {
    margin-bottom: 12px;
}

.cadastro-form #login-button {
    margin-top: 6%;
}

.cadastro-form .img_google {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.cadastro-form .google {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.oculto {
    display: none;
}

.cadastro-form #lblNome {
    width: 100%;
}

.cadastro-form .etapas {
    display: flex;
    gap: 1rem;
    margin-bottom: 20px;
}


.cadastro-form select {
    min-width: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.cadastro-form .clear {
    background: transparent;
    border: none;
    width: max-content;
    padding: 0;
    margin: 0;
}
