.agendamento-form,
.agendamento-form *{
    font-size: 15px;
    box-sizing: border-box;
}

.agendamento-page{
    min-height: 100vh;
    background: var(--background-gradient-color-light);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.agendamento-form .agendamento-header{
    display: flex;
    margin-bottom: 5%;
    box-sizing: border-box;
    justify-content: space-between;
}

.agendamento-form .agendamento-title{
    font-size: 300%;
}

.agendamento-form input,
.agendamento-form button,
.agendamento-form select {
    border-radius: 10px;
    border: 2px solid var(--border-color);
    padding: 10px;
    margin: 2px;
    height: 50px;
}

.agendamento-form input,
.agendamento-form select {

    background-color: white;
}

.agendamento-form .btn_servico{
    color: var(--border-transparent);
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 2px solid var(--background-transparent);
    border-radius: 50px;
    cursor: pointer;
}


.agendamento-form .lista_servicos{
    display: grid;
    gap: 1em;
}

.agendamento-form select{
    width: 100%;
}

.agendamento-form .servico_adicionado{
    justify-content: center;
    display: grid;
    grid-template-columns: 30% 55% 5%;
    gap: 5%;
}

.agendamento-form .servico_adicionado label,
.agendamento-form button{
    align-self: center;
}

.agendamento-form .div_btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.agendamento-form .enviar,
.agendamento-form .resetar{
    width: 35%;
    justify-self: center;
}

.agendamento-form .profissional_selecionado{
    margin-top: 8%;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 90%;
}

.agendamento-form .agendamento-main{
    display: flex;
    width: 100%;
    gap: 50px;
}

.agendamento-form .card_1{
    flex: 1;
    width: auto;
    min-width: 600px;
    height: 500px;
    padding: 25px;
    margin: auto;
    background: var(--background-transparent);
    border-radius: 15px;
    border: 1px solid var(--border-transparent);
}
.agendamento-form .card_2{
    flex: 1;
    width: auto;
    min-width: 650px;
    height: 500px;
    padding: 25px;
    margin: auto;
    background-color: rgb(71, 46, 95);
}

.agendamento-form .logo {
    width: 20%;
    height: 20%;
}
