*{
    font-size: 15px;
}

body{
    background: var(--background-gradient-color-light);
    color: var(--font-color);
}

header{
    display: flex;
    margin-bottom: 5%;
    box-sizing: border-box;
    justify-content: space-between;
}

h1{
    font-size: 300%;
}

input, button, select{
    border-radius: 10px;
    border: 2px solid var(--border-color);
    padding: 10px;
    margin: 2px;
    height: 50px;
}

.btn_servico{
    color: var(--border-transparent);
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 2px solid var(--background-transparent);
    border-radius: 50px;
    cursor: pointer;
}


.lista_servicos{
    display: grid;
    gap: 1em;
}

select{
    width: 100%;
}

.servico_adicionado{
    justify-content: center;
    display: grid;
    grid-template-columns: 30% 55% 5%;
    gap: 5%;
}

.servico_adicionado label, button{
    align-self: center;
}

.div_btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.enviar, .resetar{
    width: 35%;
    justify-self: center;
}

.profissional_selecionado{
    margin-top: 8%;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 90%;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    height: max-content;
    min-height: 500px;
    margin: 2% auto 5%;
    gap: 15px;
}

.card_1{
    width: 90%;
    height: 90%;
    padding: 25px;
    margin: auto;
    background: var(--background-transparent);
    border-radius: 15px;
    border: 1px solid var(--border-transparent);
}
.card_2{
    width: 90%;
    height: 90%;
    padding: 25px;
    margin: auto;
    background-color: rgb(71, 46, 95);
}

.logo {
    width: 20%;
    height: 20%;
}