:root {
    --background-gradient-color-light: #DEF4FF;
    --background-gradient-color-dark: #FFB247;
    --background-transparent: #90ABDC34;
    --background-color-error: #EB620A;
    --font-color-error: #180402;
    --font-color: var(--background-button);
    --font-color-transparent: var(--background-gradient-color-dark);
    --border-color: var(--background-button);
    --border-transparent: #EB620A;
    --background-button: #320B07;
}

* {
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", sans-serif;
}

input::placeholder {
    color: var(--border-transparent);
}

button {
    cursor: pointer;
}

button:active {
    opacity: 0.3;
}

button[disabled] {
    opacity: 0.7;
}

.clear {
    background: transparent;
    border: none;
    color: var(--font-color);
    width: max-content;
    padding: 0;
    margin-top: -6px;
}

.solid {
    background: var(--background-button);
    color: var(--font-color-transparent);
    border: none;
}

.outline {
    background: transparent;
    color: var(--font-color);
}

.error {
    background: var(--background-color-error);
    color: var(--font-color-error);
    margin: -10px 0px 4px 0px;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    display: none;
}

.fim {

    display: grid;
    grid-column: 1fr;
    width: 39vw;
    max-width: 600px;
    margin: auto;
    border-radius: 25px;
    border: 2px solid var(--border-transparent);
    background-color: var(--background-transparent);
    backdrop-filter: blur(10px);
    padding: 60px;
    text-align: center;
}

