body {
    background: repeating-linear-gradient(to top right,var(--background-gradient-color-light) 10% 20%, var(--background-gradient-color-dark)20% 40%);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, .error{
    text-align: center;
}

form {
    width: 80vw;
    background: var(--background-transparent);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    border: 2px solid var(--border-transparent);
}
div{
    margin: 4%;
}
input,button {
    border-radius: 10px;
    border: 2px solid var(--border-color);
    padding: 10px;
    margin: 2px;
    width: -webkit-fill-available;
}