body {
    background: repeating-linear-gradient(to top right,var(--background-gradient-color-light) 10% 20%, var(--background-gradient-color-dark) 20% 40%) no-repeat fixed center;
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    display: grid;
    grid-column: 1fr;
    width: 39vw;
    max-width: 600px;
    margin: auto;
    border-radius: 25px;
    border: 2px solid var(--border-transparent);
    background-color: var(--background-transparent);
    backdrop-filter: blur(10px);
    padding: 60px;
    text-align: center;
}

div{
    margin: 4%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button{
    border-radius: 10px;
    border: 2px solid var(--border-color);
    padding: 10px;
    margin: 2px;
    width: 90%;
    max-width: 500px;
}

a {
    color: var(--font-color);
    text-decoration: none;
    background-color: var(--border-transparent);
    border-radius: 10px;
    width: max-content;
    padding: 5px;
}

.img_google{
    width: 20px;
    height: 20px;
    filter: drop-shadow(1px 1px rgb(255, 255, 255)) drop-shadow(-1px -1px rgb(255, 255, 255));
    margin-right: 2%;
}
.google{
    text-align: center;
    display: flexbox;
}