@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --border-color-cadastro: #a1005b;
    --background-color-cadastro: #7d264d34;
    --color-font: #ffbcd6;
    --color-gradiend-clara: #380b24;
    --color-gradiend-escura: #270a1e;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
 

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: var(--color-font);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body{
    background-image: repeating-linear-gradient(to top left, var(--color-gradiend-clara) 10% ,var(--color-gradiend-escura) 10% 20%, var(--color-gradiend-clara) 20% 30%);
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
}

main{
    display: grid;
    grid-column: 1fr;
    width: 39vw;
    margin: auto;
    border-radius: 25px;
    border: 2px solid var(--border-color-cadastro);
    background-color: var(--background-color-cadastro);
    backdrop-filter: blur(10px);
    padding: 60px;
    text-align: center;
}

.fim {
    height: max-content;
}

input, select, option, button{
    color: var(--border-color-cadastro);
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid var(--border-color-cadastro);
  }
  
  .google_login {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

#add_servico{
    margin-top: 20px;
    color: var(--border-color-cadastro);
    border-radius: 300px;
    border: 1px solid var(--border-color-cadastro);
    width: 30px;
    height: 30px;
    font-size: large;
    margin-left: -2em;
}

#cadastro_form{
    display: grid;
    grid-column: 1fr;
}

#cadastro_form input{
    width: 100%;
    max-width: 300px;
    justify-self: center;
}
