:root{
    --border-color-cadastro: #a1005b;
    --background-color-cadastro: #7d264d34;
    --color-font: #ffbcd6;
    --color-gradiend-clara: #380b24;
    --color-gradiend-escura: #270a1e;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: var(--color-font);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: repeating-linear-gradient(to top left, var(--color-gradiend-clara) 10% ,var(--color-gradiend-escura) 10% 20%, var(--color-gradiend-clara) 20% 30%);
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
}

main{
    display: grid;
    grid-column: 1fr;
    width: 39vw;
    margin: 100px auto;
    border-radius: 25px;
    border: 2px solid var(--border-color-cadastro);
    background-color: var(--background-color-cadastro);
    backdrop-filter: blur(10px);
    padding: 60px;
    text-align: center
}

.fim {
    height: max-content;
}

input, select, option{
    color: var(--border-color-cadastro);
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid var(--border-color-cadastro);
}

#add_servico{
    margin-top: 20px;
    color: var(--border-color-cadastro);
    border-radius: 300px;
    border: 1px solid var(--border-color-cadastro);
    width: 30px;
    height: 30px;
    font-size: large;
}

#cadastro_form{
    display: grid;
    grid-column: 1fr;
}

#cadastro_form input{
    width: 100%;
    max-width: 400px;
    justify-self: center;
}

select:nth-child(1){
    text-align: center;
}