<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agendamento</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <main>
      <h1>Agendamento</h1>
      <br /><br />

      <form>
        <label id="agenda">
          Selecione o serviço:
          <select name="agenda" id="agenda">
            <option value="barba"> Barba </option>
            <option value="cabelo"> Cabelo </option>
          </select>
          <input type="submit" value="Enviar" />
        </label>
      </form>
    </main>
  </body>
</html>
