<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-te-vi</title>
    <link rel="stylesheet" href="../css/cadastro.css">
</head>

<body>
    <div id="cadastro">
        <h1>Login</h1>

        <br><br>

        <form action="/" method="post">
            <input type="text" name="nome" placeholder="Insira seu nome"> 
            <input type="tel" name="numero" placeholder="Insira seu telefone"> 
            <input type="submit" value="Enviar">
        </form>

        <br><br><br>

        <div id="sigup">
            <a href="#">Mudei de telefone</a>
        </div>
    </div>
</body>

</html>