<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-te-vi</title>
</head>

<body>
    <div align="center">
        <h1>Bem-te-vi</h1>

        <br><br>

        <form action="/" method="post">

            <label for="nome"> Insira seu nome
                <input type="text" name="nome" placeholder="Nome"> <br>
            </label>
            <br>
            <label for="numero"> Insira seu número
                <input type="tel" name="numero" placeholder="Ex.: (12) 99267-6767"> <br>
            </label>
            <br>
            <input type="submit" value="submit">
        </form>

        <br><br><br>

    </div>
</body>

</html>