<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="../static/css/style.css" />
  <script src="../static/js/script.js" defer></script>
</head>

<body>
  <main>
    <h1>Login</h1>

    <br /><br />

    <input type="email" name="email" autofocus placeholder="Insira seu email">
    <button onclick="pegarDados()"> Entrar com o email </button>
    <br />

    <button type="google" onclick="google()" name="google" class="google_login"> Entrar com o google </button>
    <br><br>

    <div id="sigup">
      <a href="#">Mudei de email</a>
    </div>

  </main>
</body>

</html>